In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [6]:
# Read the CSV files into DataFrames.
as20 = pd.read_csv('Resources/athletic_sales_2020.csv')
as21 = pd.read_csv('Resources/athletic_sales_2021.csv')

In [13]:
# Display the 2020 sales DataFrame
as20

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
1292,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,72,203,14616,3946.32,Online
1293,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,80,700,560000,84000.00,Outlet
1294,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,41,119,4879,2878.61,Online
1295,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,45,475,213750,96187.50,Outlet
1296,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,62,245,15190,2886.10,Outlet

In [14]:
# Display the 2021 sales DataFrame
as21

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
...,...,...,...,...,...,...,...,...,...,...,...,...
8341,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
8342,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
8343,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
8344,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
8345,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

#### Check the data types of each DataFrame

In [10]:
# Check the 2020 sales data types.
type(as20)

pandas.core.frame.DataFrame

In [11]:
# Check the 2021 sales data types.
type(as21)

pandas.core.frame.DataFrame

#### Combine the sales data by rows.

In [16]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
as20_21 = pd.concat([as20, as21], axis = 0)
as20_21

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
8341,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
8342,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
8343,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
8344,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
8345,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

In [19]:
# Check if any values are null.
as_null = as20_21.isnull().sum()
print(as_null)

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [20]:
# Check the data type of each column
print(as20_21.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [21]:
# Convert the "invoice_date" to a datetime datatype
as20_21['invoice_date'] = pd.to_datetime(as20_21['invoice_date'])

/var/folders/b_/vsckp1p91px7c2wjv0nqgwc00000gn/T/ipykernel_63890/2542837261.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  as20_21['invoice_date'] = pd.to_datetime(as20_21['invoice_date'])

In [22]:
# Confirm that the "invoice_date" data type has been changed.
print(as20_21['invoice_date'].dtype)

datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [56]:
# Show the number products sold for region, state, and city.
grouped_data1 = as20_21.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the sum to "Total_Products_Sold".
grouped_data1 = grouped_data1.rename(columns={'units_sold': 'Total_Products_Sold'})
sorted_data1 = grouped_data1.sort_values(by='Total_Products_Sold', ascending=False).head()
# Show the top 5 results.
print(sorted_data1)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [35]:
# Show the number products sold for region, state, and city.
pivot_table = pd.pivot_table(as20_21, values='units_sold', index=['region', 'state', 'city'], aggfunc='sum').reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table = pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results.
top_5_results = pivot_table.sort_values(by='Total_Products_Sold', ascending=False).head()
print(top_5_results)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [62]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_data2 = as20_21.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()
grouped_data2 = grouped_data2.rename(columns={'total_sales': 'Total Sales'})
sorted_data2 = grouped_data2.sort_values(by='Total Sales', ascending=False)
# Show the top 5 results.
print(sorted_data2.head())

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [65]:
# Show the total sales for the products sold for each region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [74]:
# Group the data by "retailer", "region", "state", and "city" and calculate the sum of "total_sales"
total_sales_grouped = as20_21.groupby(["retailer", "region", "state", "city"])["total_sales"].sum().reset_index()

# Rename the "total_sales" column to "Total Sales" using the rename() method
total_sales_grouped = total_sales_grouped.rename(columns={'total_sales': 'Total Sales'})

# Sort the DataFrame by "Total Sales" in desending order
total_sales_sorted = total_sales_grouped.sort_values(by= 'Total Sales', ascending=False)

# Show the top 5 results
print(total_sales_sorted.head())

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [87]:
# Filter the sales data to get the women's athletic footwear sales data.

         retailer                    product  total_sales
34      West Gear  Women's Athletic Footwear     30055068
10    Foot Locker  Women's Athletic Footwear     24239624
22  Sports Direct  Women's Athletic Footwear     23145288
16         Kohl's  Women's Athletic Footwear     12343307
28        Walmart  Women's Athletic Footwear      8762792
4          Amazon  Women's Athletic Footwear      7935255

#### Using `groupby`

In [102]:
women_athletic_footwear_sales = as20_21.groupby(["retailer", "region", "state", "city", "product"])["units_sold"].sum().reset_index()
women_athletic_footwear_sales = women_athletic_footwear_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})
women_athletic_footwear_sales = women_athletic_footwear_sales[women_athletic_footwear_sales['product'] == "Women's Athletic Footwear"]
women_athletic_footwear_sales = women_athletic_footwear_sales.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Show the top 5 results.
print(women_athletic_footwear_sales.head(5))

          retailer     region           state           city  \
589      West Gear       West      California  San Francisco
134    Foot Locker  Northeast        New York       New York
291         Kohl's       West      California    Los Angeles
196    Foot Locker  Southeast  South Carolina     Charleston
395  Sports Direct      South           Texas         Dallas

                       product  Womens_Footwear_Units_Sold
589  Women's Athletic Footwear                       12107
134  Women's Athletic Footwear                       10996
291  Women's Athletic Footwear                       10826
196  Women's Athletic Footwear                        8814
395  Women's Athletic Footwear                        8790

#### Using `pivot_table`

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [136]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
waf = as20_21.groupby(["retailer", "region", "state", "city", "product", "invoice_date"])["total_sales"].sum().reset_index()
waf = waf[waf['product'] == "Women's Athletic Footwear"]
waf = pd.pivot_table(waf, values = "total_sales", index = ['invoice_date'], aggfunc = 'sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"

# Show the table.
waf = waf.sort_values(by = 'total_sales', ascending = False)
print(waf)

    invoice_date  total_sales
227   2021-07-16      1521825
344   2021-12-16      1473497
206   2021-06-17      1376988
250   2021-08-17      1086294
233   2021-07-23      1021806
..           ...          ...
102   2021-02-03        19210
307   2021-10-27        17916
192   2021-05-30        15406
66    2020-11-07         8974
64    2020-11-01         8974

[355 rows x 2 columns]

In [125]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [132]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
waf.set_index('invoice_date', inplace=True)
weekly_sales = waf1.resample('W').sum()
week_with_most_sales = weekly_sales.sort_values(by='total_sales', ascending=False).head(1)

# Sort the resampled pivot table in ascending order on "Total Sales".
print(weekly_sales)

KeyError: "None of ['invoice_date'] are in the columns"